<html>
<head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/styles.css">

  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<!-- Responsive-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<style type="text/css" media="print">



 #t1 {
   display:none;
 }


</style>

<style type="text/css" media="screen">
table {
	border: 1px solid #444;
	margin: 0 0 10px 0;
	}
</style>
</head>
<body>

  <div class="row" id="head">
  </br>
 <img src="/static/head.png" class="img-responsive"  hspace="20" vspase="100" style="margin: 20 15;">
 </br>
  </div>
<!--  <table class="table table-bordered table-inverse"  style="margin: 50 50">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th >1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th >2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
-->
</body>
</html>
